<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-title>Autor: Julio Nieto Cordón</ion-title>
    <ion-title>Descripción.</ion-title>
    <ion-label id="info">La aplicación trata de crear (además de mostrarlas, editarlas, eliminarlas, compartilas
       en incluso hacer una llamada) una lista de películas. Las peliculas se guardan en una base de datos de Firebase.</ion-label>
  </ion-grid>
</ion-content>

<ion-toolbar>
  <ion-tabs id="tab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" id="icons"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="information-circle" id="icons"></ion-icon>
        <ion-label>Sobre la App</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>