<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peliculas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="peliculaEditando.Titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Director</ion-label>
    <ion-input [(ngModel)]="peliculaEditando.Director"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de estreno</ion-label>
    <ion-input [(ngModel)]="peliculaEditando.FechaDeEstreno"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Género</ion-label>
    <ion-input [(ngModel)]="peliculaEditando.Genero"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="peliculaEditando.Vista"></ion-checkbox>
    <ion-label>Visualizada</ion-label>
  </ion-item>
  

  <ion-button (click)="clickBotonInsertar()">Añadir Pelicula</ion-button>

  <h1>Lista de Peliculas</h1>
  <ion-list>
    <ion-item *ngFor="let documentPelicula of arrayColeccionPeliculas">
      <ion-grid>
        <ion-row>
          <h1> {{ documentPelicula.data.Titulo }}</h1>
        </ion-row>
        <ion-row>
          <h2> {{ documentPelicula.data.Director }}</h2>
        </ion-row>
        <ion-row>
          <h2> {{ documentPelicula.data.FechaDeEstreno }}</h2>
        </ion-row>
        <ion-row>
          <h2> {{ documentPelicula.data.Genero }}</h2>
        </ion-row>
        <ion-row>
            <h2 *ngIf="(documentPelicula.data.Vista)">Si</h2> <!-- No sé si funciona bien -->
            <h2 *ngIf="(!documentPelicula.data.Vista)">No</h2> <!-- No sé si funciona bien -->
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
