<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peliculas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de Peliculas</h1>
  <ion-grid> 
    <ion-row>
      <ion-col *ngFor="let documentPelicula of arrayColeccionPeliculas" (click)="selecPelicula(documentPelicula)"
      size="12" size-md="4" size-lg="3">
        <ion-card>
          <img alt="{{documentPelicula.data.Titulo}}" src="{{documentPelicula.data.Imagen}}" width="100%"/>
          <ion-card-header>
            <ion-card-title>{{ documentPelicula.data.Titulo }}</ion-card-title>
            <ion-card-subtitle>{{ documentPelicula.data.Director }}</ion-card-subtitle>
          </ion-card-header>        
          <ion-card-content>            
            <ion-card-title>Género: {{ documentPelicula.data.Genero }}</ion-card-title>
            <ion-card-title>Fecha de estreno: {{ documentPelicula.data.FechaDeEstreno }}</ion-card-title>
            <ion-card-title>
              <h2 *ngIf="(documentPelicula.data.Vista)">Vista: Si</h2> <!-- No sé si funciona bien -->
              <h2 *ngIf="(!documentPelicula.data.Vista)">Vista: No</h2> <!-- No sé si funciona bien -->
          </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab-button (click)="selecPelicula(false)">+</ion-fab-button>
</ion-content>
